.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left-side{
    width: 500px;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.city-info{
    width: 400px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.info-container{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.weather-info{
    width: 250px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#description {
    font-size: 1.7rem;
    font-weight: 900;
}

.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.icon sup {
    font-size: 1.5rem;
    font-weight: 400;
}

.icon img{
    width: 150px;
}

.hum-wind{
    width: 240px;
}

.right-side {
    width: 900px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 2rem;
}

.hum-wind{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.humidity, .wind{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.humidity h5, .wind h5{
    margin: 0;
    opacity: 0.8;
}

.line{
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.7);
    margin: 7px;
    width: 50px;
}